/*Tamanos de pantalla*/
$mobile: 375px;
$desktop: 1440px;

/*Paleta de colores*/
$color-white: hsl(0, 0%, 100%);
$color-grey: hsl(212, 45%, 89%);
$color-blue: hsl(220, 15%, 55%);
$color-dblue: hsl(218, 44%, 22%);